<style>
    .p5 {
        padding: 5px;
    }
</style>

<h1>List Karyawan</h1>
<hr>
<table border="1">
    <thead>
        <tr>
            <th>NIK</th>
            <th>Nama</th>
            <th>Jabatan</th>
            <th>Aksi</th>
        </tr>
    </thead>
    <tbody>
        <% for (const i in karyawan) {%>
            <tr>
                <td class="p5"><%= karyawan[i].nik %></td>
                <td class="p5"><%= karyawan[i].nama %></td>
                <td class="p5"><%= karyawan[i].jabatan_nama %></td>
                <td class="p5">
                    <a href="/karyawan/detail/<%= karyawan[i].id %>">
                        <button>rincian</button>
                    </a>
                </td>
            </tr>
        <% } %>
    </tbody>
</table>

<!-- <pre>
    <%= JSON.stringify(karyawan, null, 4) %>
</pre> -->